* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.slider_section {
    width: 100%;
    height: 60vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}